* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  width: 450px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-label {
  font-weight: 600;
}

.btn-primary {
  width: 100%;
}

/* LODING OVERPLAY */

#loadingOverlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#error_msg {
  margin: 8px auto 0;
  text-align: left;
}
